.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.text-muted {
    color: #6c757d!important;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fal {
font-family: 'Font Awesome 5 Pro';
font-weight: 300; }
@font-face {
font-family: 'Font Awesome 5 Pro';
font-style: normal;
font-weight: 400;
font-display: auto;
src: url("../webfonts/fa-regular-400.eot");
src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg"); 
}

.far {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400; }
  @font-face {
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}
  
.fa-abacus:before {
    content: "\f640";
}

.fad.fa-abacus:after {
    content: "\10f640";
}

.fa-pencil:before {
    content: "\f040";
}

.fad.fa-pencil:after {
    content: "\10f040"; }
.sidebar {
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
}

.sidebar .nav-link {

    color: #777;
  
  }
.sidebar .nav-link.selected,
.sidebar .nav-link:hover, 
.sidebar .nav-link:active{
    color: #fff;
    /* background-color: #F0592F; */
    background-color: #2D8C43;
    cursor: pointer; 
}

.dragged-nav-link{
    margin: 0.5rem 3rem!important;
    background-color: white!important;
    cursor: move;
    opacity: 0.4;
}

th {
    text-align: center!important; 
    font-family: 'Open Sans';
    font-size: 10px; 
  }

.pointer{
    cursor: pointer;
}

.btn-filled{
    padding: 4px;
  }
  
.btn-filled-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #fff!important;
}

.btn-filled-secondary:not(:disabled):not(.disabled).active, .btn-filled-secondary:not(:disabled):not(.disabled):active, .show>.btn-filled-secondary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.fa-brackets-curly:before {
    content: "\f7ea";
}

.fad.fa-brackets-curly:after {
    content: "\10f7ea";
}

.fontStyle {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

#table_bottom{
    min-height: 98%;
  }
  
#stub_div{
    min-height: 90%;
}

#table_div{
    min-height: 90%;
}

#stub_card{
    min-height: 100%;
}
  
#stub-list-div{
    min-height: 90%;
    min-width: 100%;
}

#table_card{
    min-height: 100%;
  }

.stub-text-row th{
    text-align: left!important;
  }

.base{
    color: #980000;
    /* color: #2D8C43; */
}

.weighted-base{
    color: lightgrey;
}

.table-sm td, .table-sm th {
    padding: .3125rem;
}

.last-category-cell {
    text-align: center!important;
    font-family: 'Open Sans';
    font-size: 10px;
    border-right: 1px solid black;
    font-weight: bold;
    white-space:pre;
}


.category-cell {
    text-align: center!important;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: bold;
    white-space:pre;
}

.category-row th{
    text-align: right!important;
}
.table-sm th{
    max-width: 10rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

#varsList::-webkit-scrollbar {
    display: none;
}

.line-below {
    border-bottom: 1px solid #dee2e6!important;
}

.card-sub-heading{
    padding-left: 15px;
}

.card-select{
    padding: 15px;
}