/* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lexend Deca', sans-serif !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.app_intro{
	background-image: url('../img/dejuice_background_lft.png');
	height: 500px; 
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}


h1 {
  font-size: 16px;
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lexend Deca', sans-serif !important;
}

p {
	font-family: 'Lexend Deca', sans-serif !important;
}

::-moz-selection {
    color: #FFFFFF;
    background: #F79442;
}

::selection {
    color: #FFFFFF;
    background: #F79442;
}

.nopadding {
	padding: 0;
}

.custompadding {
	padding-left: 5px;
	padding-right: 5px;
}

.no-margin {
	margin-right: 0;
	margin-left: 0;
}


.error-message {
	color: #FF3333;
	font-family: 'Lexend Deca', sans-serif ;
	margin-top: 5px;
}

.success-message {
	color:#009900;
	font-family: 'Lexend Deca', sans-serif ;
	margin-top: 5px;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   opacity: 1;
   background-color: #F2F2F2;
   z-index: 9999;
   text-align: center;
}

#loading-image {
	display: inline;
    top: 40%;
    position: relative;
  z-index: 9999;
}

.logo {
  margin: 0 auto;
	padding: 0px 0px;
	z-index: 111;
}

.logo:hover, .logo:focus {
	text-decoration: none;
	color: #FFF;
}





.navbar {
	font-size: 14px;
  font-family: 'Lexend Deca', sans-serif ;
	font-weight: 400;
	text-transform: capitalize;
	padding-top: 25px;
	letter-spacing: 1px;
	height: 80px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
	-webkit-backface-visibility: hidden;
}

.navbar-default {
  transition: all 0.6s ease;
	border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-radius: 0px;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #111111;
}

.navbar-default .navbar-brand .navbar-toggle .collapsed {
    padding: 4px 6px;
    font-size: 14px;
    color: #111111;
  }

.navbar-default .navbar-brand {
	padding-top: 5px;
	color: #111111;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.navbar-default .navbar-brand:hover {
  transition: 1s;
}

.navbar-default .navbar-nav > li > a {
  color: #111111;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5;
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #A1A1A1;
}

.navbar-default .navbar-nav > .active > a {
  background: transparent;
  color: #222222;
  }


.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #333333;
}

.navbar-default .navbar-nav > .active > a:focus {
	background: transparent;
  color: #111111;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
  color: #111111;
}

.navbar-default .nav-white > li > a {
	color: #FFFFFF;
}

.navbar-default .nav-white > li > a:hover {
	color: #999999;
}

.navbar-default .navbar-brand.nav-white {
	padding-top: 15px;
	color: #FFFFFF;
	font-size: 21px;
	letter-spacing: 1px;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}


@media only screen and (max-width: 767px) {

	.navbar {
		padding-top: 5px;
		height: 60px;
	}

  .navbar-default {
    border: 0px;
    background-color: transparent;
  }

	.navbar-default .navbar-collapse {
		text-align: center;
		border-color: transparent;
	  background-color: #FFFFFF;
	}

  .navbar-default .navbar-collapse {
    border: 0;
    border-color: transparent;
  }

  .navbar-default .navbar-nav > li> a {
    color: #222222;
		margin-top: 10px;
  }

	.navbar-default .navbar-nav > li> a:hover {
		color: #222222;
	}

  .navbar-default .navbar-brand {
    color: #FFFFFF;
		padding: 16px 15px !important;
  }

	.navbar-default .navbar-brand.nav-white {
		color: #FFFFFF;
	}

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #111111;
  }
}

@media only screen and (min-width: 240px) {


.navbar.past-main {
	font-size: 14px;
	padding-top: 5px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.99);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

.navbar-default.past-main .navbar-brand {
	color: #111111;
}

.navbar-default.past-main .navbar-toggle .icon-bar {
	background-color: #111111;
}

.navbar-default.past-main .navbar-nav > li > a {
  color: #222222;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.navbar-default.past-main .navbar-nav > li > a:hover {
  color: #111111;
}

.navbar-default.past-main .navbar-nav > .active > a {
  background: transparent;
  color: #5924EC;
  }


.navbar-default.past-main .navbar-nav > .active > a:hover {
    background: transparent;
    color: #222222;
}

.navbar-default.past-main .navbar-nav > .active > a:focus {
	background: transparent;
  color: #222222;
}

}

.navbar-default .nav-white .navbar-toggle .icon-bar {
	background-color: #FFFFFF;
}

.navbar-default.past-main .nav-white .navbar-toggle .icon-bar {
	background-color: #111111;
}


#main {
  height: 100%;
}


*/
.hero-section {
	height: 100%;
	background: #FFFFFF;
	padding: 150px 0 0 0;
}
/*
.hero-content {
	padding: 100px 0 100px 0;
	overflow: hidden;
}

.hero-content h1 {
	font-size: 34px;
	font-weight: 400;
	color: #262626;
	line-height: 1.2;
	letter-spacing: -1px;
	margin: 0 0 20px 0;
}

.hero-content p {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 14px;
	color: #A1A1A1;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 25px 0;
}


.btn-action {
 font-family: 'Lexend Deca', sans-serif; 
 background-color: #3333CC;
 border: 1px solid #3333CC;
 border-radius: 0;
 color: #FFFFFF;
 font-size: 13px;
 font-weight: 400;
 letter-spacing: 2px;
 line-height: 1;
 padding: 10px 21px;
 text-transform: uppercase;
 outline: none;
 -webkit-transition: 200ms;
 -moz-transition: 200ms;
 -o-transition: 200ms;
 transition: 200ms;
}

.btn-action:hover, .btn-action:focus,
.btn-action:active, .btn-action:active:focus {
 background: transparent;
 outline: none;
 color: #3333CC;
 background: transparent;
 border-color: #3333CC;
}


.product .btn-action {
 background-color: transparent;
 border: 1px solid #82714a;
 color: #82714a;
}

.product .btn-action:hover, .product  .btn-action:focus {
 background: #92714A;
 color: #FFFFFF;
 border-color: #82714A;
}



.software .hero-section {
	padding: 100px 0 0 0;
	background: #F9F9F9;
}

.software .hero-content h1 {
	font-size: 34px;
	font-weight: 600;
	color: #444444;
	margin: 0 0 20px 0;
}


.software .btn-action {
 font-family: 'Lexend Deca', sans-serif; 
 background-color: #3f51b5;
 border: 1px solid #3f51b5;
 border-radius: 50px;
 color: #FFFFFF;
 font-size: 13px;
 font-weight: 600;
 letter-spacing: 2px;
 line-height: 1;
 padding: 12px 24px;
 text-transform: uppercase;
 outline: none;
 -webkit-transition: 200ms;
 -moz-transition: 200ms;
 -o-transition: 200ms;
 transition: 200ms;
}

.software .btn-action:hover, .software .btn-action:focus,
.software .btn-action:active, .software .btn-action:active:focus {
 background: transparent;
 outline: none;
 color: #3f51b5;
 background: transparent;
 border-color: #3f51b5;
}

.software .hero-section img {
	margin: 0 auto;
}



.form .hero-section {
	background-size: cover;
	padding: 150px 0 0 0;
}

.form .hero-content {
	padding: 50px 0 50px 0;
	overflow: hidden;
}

.form img {
	margin: 0 auto;
}


.form .hero-content h1 {
	font-size: 34px;
	font-weight: 700;
	color: #222222;
	line-height: 1.2;
	letter-spacing: -1px;
	margin: 0 0 20px 0;
}

.form .hero-content p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	color: #A1A1A1;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 25px 0;
}

.form .sub-form {
	padding: 30px 0 0 0;
	text-align: left;
}


.form .subscribe-form .submit-button {
  font-size: 0.9em;
  height: 40px;
  border: 2px solid;
  border-radius: 0 5px 5px 0;
  margin: 0;
  padding: 0 25px 0 25px;
	border-color: #FFFFFF;
  background-color: #3333CC;
  color: #FFFFFF;
	box-shadow: 0 0 1px transparent;
  outline: none;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	transition: 500ms;
}

.form .subscribe-form .submit-button:hover {
  border-color: #3333CC;
  -webkit-transition: 500ms;
	-moz-transition: 500ms;
  transition: 500ms;
}

.form .btn-action {
	background: #3333CC;
	border-color: #3333CC;
	color: #FFFFFF;
}

.form .btn-action:hover {
	background: transparent;
	border-color: #3333CC;
	color: #3333CC;
}


.image-bg .hero-section {
	background-size: cover;
	padding: 150px 0 100px 0;
}

.image-bg .hero-content h1 {
	font-weight: 600;
	color: #FFFFFF;
}

.image-bg .hero-content p {
	color: #FFFFFF;
}



.signup .hero-section {
	background-size: cover;
	padding: 150px 0 100px 0;
}

.signup .hero-content {
	padding: 50px 0 100px 0;
}

.signup .hero-content h1 {
	font-size: 34px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
	letter-spacing: 0;
}

.signup .hero-content p {
	color: #FFFFFF;
}

.signup-form {
	padding: 25px 25px 30px 25px;
	background: #3333CC;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.signup-form h1 {
	font-weight: 600;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 1.4;
	text-transform: capitalize;
	text-align: center;
	margin: 20px 0 30px 0;
}

.signup-form form textarea {
	height: 100px;
}

.signup-form form .input-error {
	border-color: #19b9e7;
}

.signup-form p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 12px;
	color: #DDDDDD;
	margin: 25px 0 10px 0;
}

.form-group {
	margin-bottom: 20px;
}


.signup .btn-action.btn-round {
	background: #3333CC;
	border-color: #3333CC;
	color: #FFFFFF;
	font-size: 15px;
	padding: 12px 24px;
	font-weight: 600;
	text-transform: capitalize;
	border: 2px solid #3333CC;
	border-radius: 30px;
}

.signup .btn-action.btn-round:hover, .signup .btn-action.btn-round:focus {
	background: transparent;
	color: #3333CC;
	border-color: #3333CC;
}

.signup .btn-action {
	background: #3333CC;
	border-color: #3333CC;
	color: #FFFFFF;
}

.signup .btn-action:hover {
	background: transparent;
	border-color: #3333CC;
	color: #3333CC;
}


input[type="text"],
textarea,
textarea.form-control {
	height: 45px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #F8F8F8;
    border: 1px solid #DDDDDD;
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888888;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus,
textarea:focus,
textarea.form-control:focus {
	outline: 0;
	background: #FFFFFF;
    border: 1px solid #111;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }



.signup-form button.btn {
	height: 45px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #111111;
    border: 0;
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    color: #FFFFFF;
		text-transform: uppercase;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.signup-form button.btn:hover {
	 opacity: 0.6; color: #FFFFFF;
 }

.signup-form button.btn:active {
	 outline: 0;
	 opacity: 0.6;
	 color: #FFFFFF;
	 -moz-box-shadow: none;
	 -webkit-box-shadow: none;
	 box-shadow: none;
 }

.signup-form button.btn:focus {
	outline: 0;
	opacity: 0.6;
	background: #19b9e7;
	color: #fff;
}

.signup-form button.btn:active:focus, button.btn.active:focus {
	outline: 0;
	opacity: 0.6;
	background: #19b9e7;
	color: #fff;
}

@media only screen and (max-width: 991px) {
	.signup-form {
		max-width: 500px;
		margin: 0 auto;
	}
}



.slider-pro .sp-slide {
	background: #222222;
}

.slider-pro h2.sp-layer {
	font-size: 44px !important;
	color: #111111;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1.3;
	text-align: left;
}

.slider-pro p.sp-layer {
	font-size: 16px;
	color: #A1A1A1;
	line-height: 1.4;
}

.slider-pro a {
	text-decoration: none;
	color: #444444;
	-webkit-transition: 0.5s !important;
	-moz-transition: 0.5s !important;
	transition: 0.5s !important;
}

.slider-pro .link-color {
	text-decoration: none;
	color: #111;
	-webkit-transition: 0.5s !important;
	-moz-transition: 0.5s !important;
	transition: 0.5s !important;
}

.slider-pro a:hover {
	color: #999999;
}



@media only screen and (max-width: 768px) {

	.slider-pro h2.sp-layer {
		font-size: 34px !important;

	}
}


.app .hero-section {
	padding: 50px 0 0 0;
}

.app .hero-content {
	padding: 100px 0 0 0;
}

.app img {
	margin: 0 auto;
}

.app-info h1 {
  font-size: 34px;
  font-weight: 600;
  color: #404040;
  margin-top: 30px !important;
}

.app-info h4 {
  font-family: 'Lexend Deca', sans-serif; 
  font-size: 16px;
  font-weight: 300;
  color:  #3C4B5D;
	line-height: 1.4;
  margin-top: 20px;
}

.app-info i {
	margin-top: 15px;
	display: inline-block;
}

.app-info span {
  font-family: 'Lexend Deca', sans-serif ;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
}

.app-info .ion {
  font-size: 1em;
  color: #ff8000;
}

.download-buttons {
  margin-top: 25px;
  margin-bottom: 25px;
}

.download-buttons img {
	margin-left: 5px;
	margin-right: 5px;
}


.app .btn-action {
	color: #FFFFFF;
	background: #F79442;
	border-color: #F79442;
}

.app .btn-action:hover {
	color: #F79442;
	background: transparent;
	border-color: #F79442;
}




.cs-main .left-section {
		background-color: #F2F2F2;
		position: absolute;
    left: 0;
		right: 0;
		top: 0;
		bottom: 0;
    width: 50%;
		height: 100%;
		overflow: hidden;
    z-index: 1;
}

.cs-main .right-section {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
		padding: 0 20px 0 20px;
		width: 50%;
		height: 100%;
    background: #FFFFFF;
    z-index: 99;
    overflow: hidden;
    overflow-y: auto;
}

.cs-main .hero-section {
	padding: 120px 0 0 0;
	background: #FFFFFF !important;
}

.cs-main .hero-content {
	padding: 50px 0 0 0;
}

.cs-main .app-info h1 {
	font-weight: 600;
	font-size: 42px;
}

.cs-main .left-section {
	background-size: cover;
}


@media only screen and (max-width : 801px) {

	 .cs-main .right-section{
			position: relative;
			width: 100%;
	}

	.cs-main .hero-section {
		padding: 50px 0 0 0;
	}


	 .cs-main .left-section{
			position: relative;
			width: 100%;
			min-height: 100vh;
	}
}


.about {
	padding: 100px 0 100px 0;
	background: #F1F1F1;
}

.about-content {
	max-width: 800px;
	margin: 0 auto;
}

.about-content h2 {
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 24px;
	line-height: 1.2;
	color: #111111;
}

.about-content h3 {
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #111111;
	margin: 50px 0 0 0;
}
*/

.client-section {
	background-color: #FFFFFF; 
}
/*
.clients .single {
	padding: 25px 0 25px 0;
}

.clients .single img {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
		opacity: 0.3;
}

.pitch {
	padding: 100px 0 100px 0;
	background: #FFFFFF;
}

.pitch-intro {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 0 100px 0;
}

.pitch-intro h1 {
	font-size: 34px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -1px;
	color: #454545;
	margin: 0 0 30px 0;
}


.pitch-intro p {
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 14px;
	line-height: 1.5;
	color: #A1A1A1;
	letter-spacing: 0;
}

.pitch-icon {
	margin: 0 0 10px 0;
	background: #F79442;
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 50%;
}

.pitch-icon i {
	font-size: 34px;
	color: #FFFFFF;
	position: absolute;
	left: 0;
	right: 0;
	top: 13px;
}

.pitch-content {
	padding: 10px 0 50px 0;
}

.pitch-content h1 {
	font-size: 21px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0;
	color: #454545;
	margin: 0 0 10px 0;
}

.pitch-content p {
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 14px;
	line-height: 1.5;
	color: #A1A1A1;
	letter-spacing: 0;
}

.icon-features {
	padding: 100px 0 50px 0;
}

.icon-features-intro {
	padding: 0 0 50px 0;
}

.icon-features-intro h1 {
	font-size: 34px;
	font-weight: 600;
	letter-spacing: -1px;
	margin: 0 0 10px 0;
	text-align: center;
}

.icon-features-intro p {
	font-size: 16px;
	color: #A1A1A1;
	text-align: center;
	margin: 0 0 30px 0;
}

.f-single {
	position: relative;
	padding: 10px 0 80px 0;
}

.f-icon i {
	font-size: 54px;
	font-weight: bold;
	position: absolute;
	left: 0;
}

.f-content {
	padding-left: 80px;
}

.f-content h2 {
	font-size: 21px;
	font-weight: 400;
	margin: 0 0 10px 0;
}

.f-content p {
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 14px;
	font-weight: 300;
	color: #4D4D4D;
	line-height: 1.5;
	text-align: left;
}

.features {
	padding: 25px 0 25px 0;
}

.features-inner {
	width: 100%;
}

.features .features-list {
	padding: 20px 0 0 0;
	text-align: center;
}

.features .features-list h1 {
	font-size: 26px;
	font-weight: 400;
	line-height: 1;
	color: #222222;
	margin: 0 0 30px 0;
}

.features .features-list ul {
	list-style-type: circle;
	padding-left: 20px;
	text-align: center;
}


.features .features-list ul li {
	display: block;
	margin: 0 0 15px 0;
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 16px;
	line-height: 1.2;
	color: #A1A1A1;
}

.software .features {
	padding: 100px 0 100px 0;
}

.software .features .features-list h1 {
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -1px;
	line-height: 1.2;
	color: #222222;
	margin: 20px 0 20px 0;
}

.software .features-list p {
	margin: 0 0 25px 0;
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 18px;
	line-height: 1.2;
	color: #A1A1A1;
}

.software .features .features-list ul {
	list-style-type: disc;
	padding-left: 20px;
}


.software .features .features-list ul li {
	font-family: 'Lexend Deca', sans-serif ;
	display: block;
	font-size: 13px;
	margin: 0 0 15px 0;
	color: #A1A1A1;
}

.product .feature-sub {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 150px 0 150px 0;
}

.product .sub-inner {
	max-width: 500px;
	float: right;
}

.feature-sub .sub-inner h1 {
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 34px;
	font-weight: 300;
	line-height: 1;
	color: #FFFFFF;
	margin: 0 0 30px 0;
}

.feature-sub .sub-inner .btn-action {
	color: #FFFFFF;
	background: #F79442;
	border-color: #F79442;
}

.feature-sub .sub-inner .btn-action:hover {
	color: #F79442;
	background: transparent;
	border-color: #3333CC;
}

.product .feature-sub .sub-inner .btn-action {
	color: #FFFFFF;
	background: #82714a;
	border-color: #82714a;
}

.product .feature-sub .sub-inner .btn-action:hover {
	color: #82714a;
	background: transparent;
	border-color: #82714a;
}

.feature-sub {
	padding: 150px 0 150px 0;
}

.sub-inner {
	max-width: 500px;
	float: left;
}

.software .feature-sub {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 150px 0 150px 0;
}

.software .feature-sub .sub-inner h1 {
	font-family: 'Lexend Deca', sans-serif; 
	font-size: 34px;
	font-weight: 300;
	line-height: 1.1;
	color: #FFF;
	margin: 0 0 30px 0;
}

.app-features {
	background: #F9F9F9;
	padding: 100px 0 100px 0;
}

.app-features h1 {
	font-size: 34px;
	font-weight: 600;
	margin: 0 0 10px 0;
}

.app-features p {
	font-size: 16px;
	font-weight: 400;
	color: #A1A1A1;
	line-height: 1.4;
	margin: 10px 0 50px 0;
}


.app-features img {
	 margin: 0 auto;
}

.app-features .features-left, .app-features .features-right {
	padding: 50px 0 0 0;
}

.app-features .icon {
	margin-top: 10px;
	margin-bottom: 20px;
}

.app-features .icon i {
	font-size: 42px;
	color: #F79442;
}


.app-features .feature-single {
	margin-left: 0;
	margin-bottom: 50px;
}


.app-features .feature-single h1 {
	font-size: 18px;
	font-weight: 400;
	color: #222222;
	margin: 0 0 10px 0;
	letter-spacing: 1px;
}

.app-features .feature-single p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	color: #A1A1A1;
	line-height: 1.4;
	margin: 10px 0 0 0;
}
*/
.split-features {
	background: #FFFFFF;
	padding: 50px 0 50px 0;
	overflow: hidden;
}

.signup .split-features {
	background: #F2F2F2;
}
/*
.split-image img {
	margin: 0 auto;
}

.split-content {
	padding: 20px;
}
*/
.split-content h1 {
	font-size: 34px;
	font-weight: 600;
	letter-spacing: -1px;
	margin: 0 0 20px 0;
}

.split-content p {
	font-size: 16px;
	line-height: 1.4;
	color: #A1A1A1;
	letter-spacing: 0;
}

.split-content ul {
	list-style-type: disc;
	display: inline-block;
	margin: 30px 0 0 0;
}

.split-content ul li {
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 0;
	margin-bottom: 15px;
	margin-left: 15px;
	color: #A1A1A1;
}


.review-section {
	padding: 150px 0 150px 0;
	text-align: center;
	background: #F4F4F4;
}


.reviews {
  width: 100%;
}


.review-single img {
  width:80px;
	height:80px;
}

.review-text h3 {
	font-family: Roboto;
  font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 1.5;
  color: #000000;
}

.review-text .ion {
	display: inline-block;
	margin-top: 20px;
  font-size: 14px;
  color: #ff8000;
}

.review-text p {
  font-family: 'Lexend Deca', sans-serif ;
  font-size: 14px;
	font-weight: 300;
  padding: 20px 10px 20px 10px;
	letter-spacing: 1px;
	line-height: 1.5;
  color: #A1A1A1;
}


.pricing {
	padding: 50px 0 100px 0;
}

.pricing-content {
	padding: 60px 0 0 0;
	text-align: center;
}

.pricing h1 {
	font-size: 28px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 1.2;
}

.pricing h4 {
	font-size: 14px;
	font-weight: 400;
	color: #A1A1A1;
	margin: 10px 0 30px 0;
}

.pricing p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	font-weight: 400;
	color: #444444;
	line-height: 1.4;
}

.pricing .btn-buy {
	padding: 40px 0 20px 0;
}

.pricing .btn-buy img {
	display: inline;
}

.pricing .price-tag h2 {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 24px;
	font-weight: 400;
	color: #A1A1A1;
	margin: 0 0 20px 0;
}


.pricing-section {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #FFFFFF;
}

.pricing-intro {
	padding-bottom: 30px;
}

.pricing-intro h1 {
	font-size: 28px;
	color: #111111;
	font-weight: 600;
	line-height: 1.4;
}


.pricing-intro p {
	font-size: 15px;
	color: #303030;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.pricing-section .table-left, .pricing-section .table-right {
	padding: 20px 20px 50px 20px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 80px 0px rgba(0,0,0,.1);
	border: transparent;
	max-width: 400px;
}

.table-left .icon, .table-right .icon {
	padding: 50px 50px 40px 50px;
}

.table-left .icon img, .table-right .icon img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.table-left .pricing-details span, .table-right .pricing-details span {
	display: inline-block;
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 28px;
	font-weight: 400;
	color: #808080;
	margin-bottom: 20px;
}

.table-left .pricing-details h2, .table-right .pricing-details h2 {
	font-size: 18px;
	font-weight: 600;
	color: #505050;
	margin-bottom: 30px;
}

.table-left .pricing-details p, .table-right .pricing-details p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	font-weight: 300;
	color: #505050;
	letter-spacing: 1px;
	line-height: 1.4;
}

.table-left .pricing-details ul, .table-right .pricing-details ul {
	margin-top: 30px;
	margin-bottom: 50px;
}


.table-left .pricing-details li, .table-right .pricing-details li {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	font-weight: 400;
	color: #505050;
	line-height: 1.4;
	margin-bottom: 10px;
}

.pricing-section .table-left:hover, .pricing-section .table-right:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.pricing-section .table-left, .pricing-section .table-right {
	margin-top: 20px;
}

.pricing-section .table-center {
	margin-top: 0;
}

.counter-section {
 width: 100%;
 padding-top: 50px;
 padding-bottom: 50px;
 background: #F1F1F1;
}

.counter-section h3  {
	font-size: 28px;
	font-weight: 400;
	color: #222222;
}

.counter-icon {
  padding: 15px;
}

.counter-icon i {
  font-size: 48px;
  color: #3333CC;
}

.counter-text {
	margin-top: 10px;
  margin-bottom: 20px;
}

.counter-text h4 {
  font-size: 16px;
  font-weight: 400;
  padding: 0.5em;
  color: #222222;
}

.cta-sub {
	padding-top: 150px;
	padding-bottom: 150px;
	background-size: cover;
}

.cta-inner {
	max-width: 500px;
	float: none;
}

.cta-sub .cta-inner h1 {
	font-size: 28px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.2;
	margin-top: 10px;
	margin-bottom: 0;
}

.cta-sub .cta-inner p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 300;
	line-height: 1.4;
	margin-top: 20px;
	margin-bottom: 40px;
}

.subscribe-form {
	text-align: left;
}

.subscribe-form .submit-button {
  font-size: 0.9em;
  height: 40px;
  border: 2px solid;
  border-radius: 0 5px 5px 0;
  margin: 0;
  padding: 0 25px 0 25px;
	border-color: #FFFFFF;
  background-color: #927f54;
  color: #FFFFFF;
	box-shadow: 0 0 1px transparent;
  outline: none;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	transition: 500ms;
}

.subscribe-form .submit-button:hover {
  border-color: #927f54;
  -webkit-transition: 500ms;
	-moz-transition: 500ms;
  transition: 500ms;
}

.product .subscribe-form .submit-button {
	border-color: #FFFFFF;
  background-color: #927f54;
}

.product .subscribe-form .submit-button:hover {
  border-color: #927f54;
}

.formee {
	position: relative;
}


.formee .mail {
	position: relative;
	background-color: #F9F9F9;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s;
}

.formee input {
  color: #222222;
  font-family: 'Lexend Deca', sans-serif ;
  padding: 0;
  font-size: 0.9em;
	height: 49px;
  border: 2px solid #FFF;
  border-radius: 5px 0 0 5px;
  border-color: #FFFFFF;
  outline: none;
  padding: 0 150px 0 20px;
}

.formee input:focus {
	border: 2px solid #FFF;
  border-color: #FFFFFF;
}

.formee .right {
  height: 49px;
  border: 2px solid #FFF;
  border-radius: 0 5px 5px 0;
  margin: 0;
  padding: 0 25px 0 25px;
  background-color: #F79442;
  color: #FFFFFF;
	box-shadow: 0 0 1px transparent;
  outline: none;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	transition: 500ms;
}

#email-error {
	position: absolute;
	left: 0;
	top: 150%;
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	color: #FF0000;
}

#response {
	color: #FFFFFF;
	font-family: 'Lexend Deca', sans-serif ;
	margin-top: 30px;
	font-size: 14px;
	line-height: 1.4;
}

.product .formee .right {
	background-color: #927f54;
}

.footer {
  background-color: #F3F3F3;
  width: 100%;
  height: 100%;
	overflow: hidden;
	padding-top: 75px;
	padding-bottom: 20px;
}

.contact {
	text-align: left;
}

.contact i {
	font-size: 42px;
	color: #F79442;
}

.contact h1 {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 21px;
	font-weight: 400;
	color: #F79442;
	margin: 10px 0 10px 0;
}

.contact p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 16px !important;
	font-weight: 400;
	color: #111111;
	line-height: 1.3;
	margin: 10px 0 20px 0 !important;
}

.contact a {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 18px;
	font-weight: 400;
	color: #F79442;
	text-decoration: none;
	display: inline-block;
}


.footer img {
	margin-bottom: 20px;
}

.footer-menu ul {
	list-style-type: none;
}

.footer-menu li {
	display: inline;
	line-height: 2;
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	padding-right: 15px;
	text-transform: capitalize;
}

.footer-menu li a {
	color: #707570;
	text-decoration: none;
}

.footer p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 16px;
	font-weight: 400;
	color: #A1A1A1;
	line-height: 1.3;
	margin: 10px 0 30px 0;
}

.footer-text p {
	font-family: 'Lexend Deca', sans-serif ;
	font-size: 14px;
	color: #F79442;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 1px;
	margin-top: 10px;
}


.product .footer .contact h1, .product .contact i, .product .footer .contact a, .product .footer-text p  {
	color: #927f54;
}


.back-to-top {
	background:#F79442;
	margin: 0;
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	z-index: 90;
	display: none;
	text-decoration: none;
	color: #0E1729;
}

.back-to-top i {
	position: relative;
	left: 13px;
	top: 8px;
	font-size: 24px;
	color: #FFFFFF;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.back-to-top:hover {
    background: rgba(51, 51, 204, 0.9);
    color: #FFFFFF;
}

.back-to-top:hover i {
	top: 6px;
}

.back-to-top:focus {
    color: #FFFFFF;
}


.product .back-to-top {
	background: rgba(146, 127, 84, 0.5);
}

.product .back-to-top:hover {
	background: rgba(146, 127, 84, 0.9);
}


@media only screen and (min-width: 767px) {
	.logo {
	  position: absolute;
	  top: 20px;
	  left: 20px;
	}

	.hero-section {
		padding: 150px 0 100px 0;
	}

	.form .hero-section {
		padding: 150px 0 50px 0;
	}

	.form .hero-content {
		padding: 100px 0 100px 0;
		overflow: hidden;
	}

	.form .hero-content h1 {
		font-size: 54px;
	}

	.product .hero-content {
		padding: 150px 0 100px 0;
		text-align: left;
	}

	.hero-content h1 {
		font-size: 48px;
		margin: 0 0 20px 0;
	}

	.hero-content p {
		font-size: 14px;
	}

	.about-content h2 {
		font-size: 38px;
	}

	.software .hero-content h1 {
		font-size: 42px;
	}

	.image-bg .hero-content h1 {
		font-size: 54px;
	}


	.signup .hero-content h1 {
		font-size: 48px;
	}

	.features .features-list {
		padding: 100px 0 0 0;
		text-align: left;
	}

	.features .features-list ul li {
		font-size: 18px;
		display: list-item;
		text-align: left;
	}


	.software .features {
		padding: 100px 0 100px 0;
	}

	.software .features .features-list h1 {
		font-size: 34px;
	}

	.software .features .features-list {
		padding: 30px 0 0 0;
	}


	.software .features .features-list ul li {
		display: list-item;
		font-size: 14px;
		text-align: left;
	}


	.feature-sub {
		padding: 200px 0 200px 0;
	}

	.feature-sub .sub-inner h1 {
		font-size: 42px;
	}

	.software .feature-sub .sub-inner h1 {
		font-size: 42px;
	}

	.split-content {
		text-align: left;
	}

	.split-content h1 {
		font-size: 42px;
	}


	.pricing {
		padding: 100px 0 100px 0;
	}

	.pricing-content {
		text-align: left;
	}

	.cta-sub .cta-inner h1 {
		font-size: 36px;
	}


	.cta-inner {
		max-width: 500px;
		float: right;
	}

	.contact {
		text-align: center;
	}


	.contact h1 {
		font-size: 24px;
	}

	.contact p {
		font-size: 16px !important;
	}

	.contact a {
		font-size: 18px;
	}

}

/* @media only screen and (min-width: 767px) and (max-width: 1024px) {
	.features .features-list {
		padding: 80px 0 0 0;
	}

	.split-content {
		text-align: left;
	}
}


@media screen and (min-width: 400px) and (max-width: 600px) {

 .formee input {
   padding: 0 30px 0 20px;
   border-radius: 5px 0 0 5px;
 }

 .formee .right {
   padding: 0 5px 0 5px;
   border-radius: 0 5px 5px 0;
 }
}


@media screen and (max-width: 399px) {

	.cta-sub {
		text-align: center;
	}

	.subscribe-form {
		text-align: center;
	}

 .formee input {
	 text-align: center;
   padding: 0 0 0 0;
   border-radius: 5px 0 0 5px;
 }

 .formee .right {
   padding: 0 5px 0 5px;
   border-radius: 0 5px 5px 0;
	 margin-top: 15px;
 }

 .form .sub-form .subscribe-form {
 	text-align: left;
 }


  .form .sub-form .formee input {
 	 text-align: center;
    padding: 0 0 0 0;
    border-radius: 5px 0 0 5px;
  }

  .form .sub-form .formee .right {
    padding: 0 5px 0 5px;
    border-radius: 0 5px 5px 0;
 	 margin-top: 15px;
  }

 .back-to-top {
	right: 10px;
}

 } */

 /* @media only screen and (min-width: 991px) and (max-width: 1201px) {

	 .app-features .features-left, .app-features .features-right {
	 	padding: 0 0 0 0;
	 }

	 .software .features .features-list {
		 padding: 0 0 0 0;
	 }

 } */
/*

h2{
	font-size: 30px;
}

h3{
	font-size: 25px;
}

h4{
	font-size: 20px;
}
*/
.sub_sub_header{
	color: #7ABE45;
}

/* .definition{
	line-height: 2em;
	list-style: decimal !important;
	list-style-position: inside !important;
} */

.font-green{
	color: #2D8C43 !important;
}

.item{
	min-width: 120px;
}

.item > .fal,
.item > .far {
	color: #F79442;
	padding-right: 10px;
} 

.item h6{
	color: #2D8C43;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
